.desktop {
  background-color: #0a0e17;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #0a0e17;
  overflow: hidden;
  max-width: 100%;
  width: 1152px;
  height: 2300px;
  position: relative;
}

.desktop .group {
  position: absolute;
  width: 992px;
  height: 413px;
  top: 197px;
  left: 100px;
}

.desktop .overlap-group-wrapper {
  position: absolute;
  width: 223px;
  height: 56px;
  top: 357px;
  left: 0;
}

.desktop .overlap-group {
  position: relative;
  width: 221px;
  height: 56px;
  background-color: #219ebc;
  border-radius: 28.8px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 3px;
  left: 17px;
  font-family: "Orelega One-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 5px 10px;
  border-radius: 5px;
}

.desktop .text-wrapper:hover {
  color: #007bff;
  background-color: transparent;
}

.desktop .overlap {
  position: absolute;
  width: 983px;
  height: 344px;
  top: 0;
  left: 9px;
}

.desktop .overlap-wrapper {
  position: absolute;
  width: 622px;
  height: 331px;
  top: 0;
  left: 0;
}

.desktop .overlap-2 {
  position: relative;
  width: 616px;
  height: 331px;
}

.desktop .dive-into-a-world-of {
  position: absolute;
  width: 616px;
  top: 48px;
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #039bf9;
  font-size: 33.7px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 616px;
  top: 0;
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24.3px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  width: 408px;
  top: 190px;
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .inno {
  position: absolute;
  width: 449px;
  height: 344px;
  top: 0;
  left: 534px;
  object-fit: cover;
}

.desktop .div-wrapper {
  position: absolute;
  width: 1609px;
  height: 670px;
  top: 719px;
  left: -329px;
}

.desktop .overlap-3 {
  position: relative;
  width: 1606px;
  height: 669px;
  top: 1px;
  left: -1px;
}

.desktop .shape {
  position: absolute;
  width: 94px;
  height: 401px;
  top: 47px;
  left: 1383px;
  background-color: #1cb3ff;
  border-radius: 34.05px;
  transform: rotate(45.12deg);
  opacity: 0.14;
}

.desktop .overlap-4 {
  position: absolute;
  width: 1493px;
  height: 669px;
  top: 0;
  left: 0;
}

.desktop .shape-2 {
  width: 100px;
  height: 490px;
  top: -37px;
  left: 1234px;
  background-color: #1cb3ff;
  opacity: 0.1;
  position: absolute;
  border-radius: 34.05px;
  transform: rotate(45.12deg);
}

.desktop .shape-3 {
  width: 438px;
  height: 401px;
  top: 172px;
  left: 138px;
  background-color: #219ebc4c;
  opacity: 0.4;
  position: absolute;
  border-radius: 34.05px;
  transform: rotate(45.12deg);
}

.desktop .shape-4 {
  width: 438px;
  height: 401px;
  top: 168px;
  left: 78px;
  background-color: #90cae6;
  background-blend-mode: darken;
  position: absolute;
  border-radius: 34.05px;
  transform: rotate(45.12deg);
}

.desktop .frame {
  display: flex;
  flex-direction: column;
  width: 843px;
  height: 133px;
  align-items: center;
  gap: 64.7px;
  position: absolute;
  top: 186px;
  left: 476px;
}

.desktop .frame-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 21.11px;
  position: relative;
  flex: 0 0 auto;
  margin-left: -16.29px;
  margin-right: -16.29px;
}

.desktop .frame-3 {
  display: flex;
  flex-direction: column;
  width: 204.31px;
  height: 131.44px;
  align-items: flex-start;
  gap: 10.9px;
  padding: 6.81px 13.62px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10.9px;
  box-shadow: 0px 2.72px 16.34px #00000040;
}

.desktop .group-2 {
  position: relative;
  width: 181.07px;
  height: 73.33px;
  margin-right: -4.00px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 177px;
  top: 0;
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .won-t-forget-again {
  position: absolute;
  width: 155px;
  top: 30px;
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image {
  position: relative;
  width: 32.69px;
  height: 32.69px;
  object-fit: cover;
}

.desktop .logo3 {
  position: relative;
  width: 200px;
  height: 40px;
  object-fit: cover;
  top: 14px;
  left: 0px;
}
.desktop .logo4 {
  position: relative;
  width: 160px;
  height: 36px;
  object-fit: cover;
  top: 115px;
  left: 190px;
}

/* Gaya untuk elemen sebelum animasi */
.intro-animate, .scroll-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Gaya saat elemen menjadi terlihat */
.animate-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Gaya saat elemen menghilang */
.scroll-animate:not(.animate-visible) {
  opacity: 0;
  transform: translateY(20px);
}

button {
  background: none;
  border: none;
  padding: 0;
  font-size: inherit;
  color: inherit;
  text-align: left;
  cursor: pointer;
}

/* Apply the button style */
.button-style {
  background-color: transparent;
  color: #007bff; /* Initial blue text color */
  border: none;
  border-radius: 9.2px;
  cursor: pointer;
  transition: color 0.3s ease; /* Smooth transition for the color change */
}

/* Hover effect: Change the text color to a darker blue */
.button-style:hover {
  color: #2a8ffc !important; /* Darker blue color when hovered */
}

.desktop .frame-4 {
  display: flex;
  flex-direction: column;
  width: 204.31px;
  height: 131.44px;
  align-items: flex-start;
  gap: 10.9px;
  padding: 6.81px 13.62px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10.9px;
  box-shadow: 0px 2.72px 16.34px #00000040;
}

.desktop .frame-5 {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: center;
  justify-content: center;
  gap: 8.17px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -0.07px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-6 {
  display: flex;
  align-items: center;
  gap: 6.81px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .text-wrapper-5 {
  position: relative;
  width: 175.2px;
  height: 29.6px;
  margin-top: -0.68px;
  margin-right: -1.53px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-wrapper {
  display: flex;
  flex-direction: column;
  height: 4px;
  align-items: center;
  justify-content: center;
  gap: 8.17px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.desktop .frame-7 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -12.80px;
  margin-bottom: -12.80px;
}

.desktop .frame-8 {
  display: flex;
  flex-direction: column;
  width: 204.31px;
  height: 131.44px;
  align-items: flex-start;
  gap: 10.9px;
  padding: 6.81px 13.62px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10.9px;
  box-shadow: 0px 2.72px 16.34px #00000040;
}

.desktop .frame-9 {
  display: inline-flex;
  height: 69.6px;
  margin-right: -7.25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8.17px;
  position: relative;
}

.desktop .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  height: 13.6px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .add-events-quickly {
  position: relative;
  align-self: stretch;
  height: 46.4px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame-10 {
  display: flex;
  flex-direction: column;
  width: 204.31px;
  height: 131.44px;
  align-items: flex-start;
  gap: 10.9px;
  padding: 6.81px 13.62px;
  position: relative;
  background-color: #ffffff;
  border-radius: 10.9px;
  box-shadow: 0px 2.72px 16.34px #00000040;
}

.desktop .frame-11 {
  display: flex;
  width: 184px;
  flex: 0 0 auto;
  margin-right: -8.97px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8.17px;
  position: relative;
}

.desktop .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -0.68px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: relative;
  width: 159.2px;
  height: 41.6px;
  margin-top: -0.68px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: var(--collection-1-text);
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 505px;
  top: 5px;
  left: 645px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 44.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 651px;
  top: 76px;
  left: 572px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .navbar-wrapper {
  position: absolute;
  width: 1152px;
  height: 72px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.desktop .navbar {
  position: relative;
  width: 949px;
  height: 78px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}

.desktop .overlap-5 {
  position: absolute;
  width: 224px;
  height: 68px;
  top: -1px;
  left: 0;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 134px;
  top: 10px;
  left: 0;
  font-family: "Orelega One-Regular", Helvetica;
  font-weight: 400;
  color: #023047;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  transform: scale(0.8); /* Scale down the text */
  transform-origin: center; /* Scale from the center */
}

.desktop .text-wrapper-12 {
  position: absolute;
  width: 94px;
  top: 0;
  left: 130px;
  font-family: "Oleo Script-Bold", Helvetica;
  font-weight: 700;
  color: #219ebc;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  transform: scale(0.8); /* Scale down the text */
  transform-origin: center; /* Scale from the center */
}

.desktop .overlap-6 {
  position: absolute;
  width: 169px;
  height: 58px;
  top: 10px;
  left: 840px;
  background-color: #219ebc;
  transform: scale(0.8);
  border-radius: 28.8px;
}

.desktop .text-wrapper-13 {
position: absolute;
width: 120px;
top: 5px;
left: 25px;
font-family: "Orelega One-Regular", Helvetica;
font-weight: 400;
color: #ffffff;
font-size: 32px;
letter-spacing: 0;
line-height: normal;
transform-origin: center;
cursor: pointer;
text-decoration: none;
transition: color 0.3s ease, background-color 0.3s ease;
padding: 5px 10px;
border-radius: 5px;
}

.desktop .text-wrapper-13:hover {
color: #007bff;
background-color: transparent;
}


.desktop .text-wrapper-14 {
  position: absolute;
  width: 74px;
  top: 20px;
  left: 740px;
  font-family: "Orelega One-Regular", Helvetica;
  font-weight: 400;
  color: #023047;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  transform: scale(0.8); /* Scale down the text */
  transform-origin: center; /* Scale from the center */
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 131px;
  top: 19px;
  left: 411px;
  font-family: "Orelega One-Regular", Helvetica;
  font-weight: 400;
  color: #023047;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  transform: scale(0.8); /* Scale down the text */
  transform-origin: center; /* Scale from the center */
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 140px;
  top: 20px;
  left: 566px;
  font-family: "Orelega One-Regular", Helvetica;
  font-weight: 400;
  color: #023047;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  transform: scale(0.8); /* Scale down the text */
  transform-origin: center; /* Scale from the center */
}


.desktop .footer {
  position: absolute;
  width: 970px;
  height: 286px;
  top: 2046px;
  left: 91px;
  background-color: #ffffff;
}

.desktop .overlap-7 {
  position: absolute;
  width: 1152px;
  height: 346px;
  top: 7px;
  left: -91px;
  background-image: url(./img/rectangle-4.svg);
  background-size: 100% 100%;
}

.desktop .group-wrapper {
  position: absolute;
  width: 802px;
  height: 147px;
  top: 117px;
  left: 198px;
}

.desktop .group-3 {
  position: relative;
  height: 147px;
}

.desktop .MENU {
  position: absolute;
  width: 94px;
  height: 147px;
  top: 0px;
  left: 404px;
}

.desktop .text-wrapper-17 {
  position: absolute;
  width: 30px;
  height: 9px;
  top: 110px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 30px;
  height: 11px;
  top: 70px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 60px;
  height: 15px;
  top: 28px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 62px;
  height: 15px;
  top: -14px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 65px;
  top: -50px; /* Increased by 50px */
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #3e3e3e;
  font-size: 15.6px;
  letter-spacing: 0.39px;
  line-height: 18.3px;
  white-space: nowrap;
}

.desktop .social {
  position: absolute;
  width: 100px;
  height: 83px;
  top: 25px; /* Increased by 50px */
  left: 541px;
}

.desktop .text-wrapper-22 {
  position: absolute;
  width: 73px;
  height: 15px;
  top: 2px; /* Increased by 50px */
  left: 0px;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-23 {
  position: absolute;
  width: 75px;
  height: 15px;
  top: -40px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-24 {
  position: absolute;
  width: 72px;
  top: -75px; /* Increased by 50px */
  left: 0px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 15.6px;
  letter-spacing: 0.39px;
  line-height: 18.3px;
  white-space: nowrap;
}

.desktop .legal {
  position: absolute;
  width: 119px;
  height: 115px;
  top: 0px; /* Increased by 50px */
  left: 692px;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 100px;
  height: 9px;
  top:65px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 111px;
  height: 9px;
  top: 25px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 106px;
  height: 9px;
  top: -15px; /* Increased by 50px */
  left: 0;
  opacity: 0.9;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 12.5px;
  letter-spacing: 0;
  line-height: 14.7px;
  white-space: nowrap;
}

.desktop .text-wrapper-28 {
  position: absolute;
  width: 62px;
  top: -50px; /* Increased by 50px */
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #383b45;
  font-size: 15.6px;
  letter-spacing: 0.39px;
  line-height: 18.3px;
  white-space: nowrap;
}

.desktop .content {
  position: absolute;
  width: 216px;
  height: 23px;
  top: 18px; /* Increased by 50px */
  left: 0;
}

.desktop .contact-us-at {
  position: absolute;
  width: 214px;
  height: 23px;
  top: 18px; /* Increased by 50px */
  left: 0;
  opacity: 0.7;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #343448;
  font-size: 12.5px;
  letter-spacing: 0.39px;
  line-height: 17.5px;
}

.desktop .text-wrapper-29 {
  position: absolute;
  width: 92px;
  top: 57px; /* Increased by 50px */
  left: 320px;
  font-family: "Oleo Script-Bold", Helvetica;
  font-weight: 700;
  color: #219ebc;
  font-size: 62.3px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-30 {
  position: absolute;
  width: 130px;
  top: 67px; /* Increased by 50px */
  left: 180px;
  font-family: "Orelega One-Regular", Helvetica;
  font-weight: 400;
  color: #023047;
  font-size: 62.3px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .group-4 {
  position: absolute;
  width: 1012px;
  height: 550px;
  top: -728px; /* Increased by 50px */
  left: -11px;
}

.desktop .text-wrapper-31 {
  position: absolute;
  width: 503px;
  top: -50px; /* Increased by 50px */
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 44.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 992px;
  height: 442px;
  top: 57px; /* Increased by 50px */
  left: 0;
}

.desktop .text-wrapper-32 {
  position: absolute;
  width: 503px;
  top: -48px; /* Increased by 50px */
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-33 {
  position: absolute;
  width: 503px;
  top: 122px; /* Increased by 50px */
  left: 0;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-34 {
  position: absolute;
  width: 503px;
  top: 296px; /* Increased by 50px */
  left: 2px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse {
  width: 30px;
  top: -48px; /* Increased by 50px */
  border-radius: 15.2px / 14.45px;
  position: absolute;
  height: 29px;
  left: 111px;
  background-color: #8d61ff;
}

.desktop .ellipse-2 {
  width: 31px;
  top: 292px; /* Increased by 50px */
  border-radius: 15.35px / 14.59px;
  position: absolute;
  height: 29px;
  left: 111px;
  background-color: #8d61ff;
}

.desktop .ellipse-3 {
  width: 31px;
  top: 122px; /* Increased by 50px */
  border-radius: 15.35px / 14.59px;
  position: absolute;
  height: 29px;
  left: 111px;
  background-color: #8d61ff;
}

.desktop .text-wrapper-35 {
  top: -49px; /* Increased by 50px */
  position: absolute;
  width: 19px;
  left: 116px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-36 {
  top: 291px; 
  position: absolute;
  width: 19px;
  left: 117px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-37 {
  top: 121px; /* Increased by 50px */
  position: absolute;
  width: 19px;
  left: 117px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 26.4px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .easily-customize {
  position: absolute;
  width: 155px;
  top: -12px; /* Increased by 50px */
  left: 167px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .set-up-a {
  position: absolute;
  width: 155px;
  top: 169px; /* Increased by 50px */
  left: 167px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .get-timely-reminders {
  position: absolute;
  width: 155px;
  top: 344px; 
  left: 167px;
  font-family: "Bai Jamjuree-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 13.6px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element {
  position: absolute;
  width: 534px;
  height: 408px;
  top: -36px; 
  left: 458px;
  object-fit: cover;
}
